In [ ]:
import numpy as np
import pandas as pd

In [ ]:
labels = ['a', 'b', 'c']

In [ ]:
arr = np.array([1, 2, 3])

In [ ]:
pd.Series(arr)

In [ ]:
pd.Series(labels)

In [ ]:
pd.Series(data=arr, index=labels)

In [ ]:
ser1 = pd.Series([1,2,3,4], ['USA', 'France', 'Italy', 'Canada'])

In [ ]:
ser1['France']

In [ ]:
ser2 = pd.Series([10,20,30,40], ['USA', 'France', 'England', 'Canada'])

In [ ]:
ser1 + ser2

In [ ]:
np.random.seed(101)
rand_mat = np.random.randn(5, 4)
rand_mat

In [ ]:
df = pd.DataFrame(data=rand_mat, index='A B C D E'.split(), columns='W X Y Z'.split())
df

In [ ]:
df['W']

In [ ]:
type(df['W'])

In [ ]:
df[['W', 'X']]

In [ ]:
df['NEW'] = df['W'] + df['Y']
df

In [ ]:
df.drop('NEW', axis=1)

In [ ]:
df

In [ ]:
df.drop('NEW', axis=1, inplace=True)

In [ ]:
df

In [ ]:
df.drop('A')

In [ ]:
df

In [ ]:
# there are two ways to select data through the rows:
# method1:
df.loc['A']

In [ ]:
# method2:
df.iloc[0]

In [ ]:
df.loc[['A', 'B']]

In [ ]:
df.iloc[[0, 1]]

In [ ]:
df.loc[['A', 'B'], ['Y', 'Z']]

In [ ]:
df.iloc[[0, 1], [2, 3]]

In [ ]:
df > 0

In [ ]:
df[df > 0]

In [ ]:
df['W']>0

In [ ]:
# this is very practical usage:
df[df['W']>0]

In [ ]:
df[df['W']>0]['Y'].iloc[0]

In [ ]:
df[df['W']>0].iloc[0, 2]

In [ ]:
# in contrast with pure python, we use & symbol to impose logical AND
df[(df['W']>0) & (df['Y']>1)]

In [ ]:
df

In [ ]:
# convert the index column to a real column
df.reset_index()

In [ ]:
df2 = df.reset_index()

In [ ]:
df2

In [ ]:
# convert an real column to an index column
df2.set_index('index')

In [ ]:
df.info()

In [ ]:
df.dtypes

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
ser_w = df['W'] > 0

In [ ]:
sum(ser_w)

In [ ]:
ser_w.value_counts()

In [ ]:
# GROUP BY
data = {
    'Company': ['GOOG', 'GOOG', 'MSFT', 'MSFT', 'FB', 'FB'],
    'Person': ['Sam', 'Charlie', 'Amy', 'Vanessa', 'Carl', 'Sarah'],
    'Sales': [200, 120, 340, 124, 243, 350]}
df = pd.DataFrame(data)
df

In [ ]:
df.groupby('Company').mean()

In [ ]:
df.groupby('Company').max()

In [ ]:
df.groupby('Company').describe()

In [ ]:
df.groupby('Company').describe().transpose()

In [ ]:
data = {'col1': [1, 2, 3, 4],
    'col2': [444, 555, 666, 444],
    'col3': ['abc', 'def', 'ghi', 'xyz']}
df = pd.DataFrame(data)
df

In [ ]:
df['col2'].unique()

In [ ]:
df['col2'].nunique()

In [ ]:
df['col2'].value_counts()

In [ ]:
# conditional selection
new_df = df[(df['col1']>2) & (df['col2']==444)]
new_df

In [ ]:
def times_two(number):
    return number*2

In [ ]:
df['new'] = df['col1'].apply(times_two)
df

In [ ]:
df.drop('new',axis=1, inplace=True)
df

In [ ]:
df.sort_values('col2')

In [ ]:
df.sort_values('col2', ascending=False)

In [ ]:
df = pd.read_csv('../data/crash_course_files/example.csv')
df

In [ ]:
new_df = df[['a', 'b']]
new_df

In [ ]:
new_df.to_csv('../data/crash_course_files/mynew.csv', index=False)

In [ ]:
df = pd.read_excel('../data/crash_course_files/Excel_Sample.xlsx', sheet_name='Sheet1')
df

In [ ]:
df.drop('Unnamed: 0', axis=1)

In [ ]:
# my_list_of_tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')

In [ ]:
df = pd.read_csv('../data/crash_course_files/bank.csv')

In [ ]:
df.head()
# also can get the same result by df.iloc[:5]

In [ ]:
df['age'].mean()

In [ ]:
df[df['age']==df['age'].min()]['marital']
# also the following method retur the same result:
# idx_min = df['age'].idxmin()
# df['marital'].iloc[idx_min]

In [ ]:
df['job'].nunique()

In [ ]:
df['job'].value_counts()

In [ ]:
df['marital'].value_counts()['married']/len(df)

In [ ]:
df['default code'] = df['default'].map({'no':0, 'yes':1})
df.head()

In [ ]:
df['marital code'] = df['marital'].apply(lambda marital:marital[0])
df.head()

In [ ]:
df['duration'].max()

In [ ]:
df[df['job']=='unemployed']['education'].value_counts()

In [ ]:
df[df['job']=='unemployed']['age'].mean()